<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contact me at: <a href="mailto:jeffross9045@gmail.com">jeffross9045@gmail.com</a>
</p>
<p>
	Why have an almost empty contact page when my contact info is in about?  Because it looks better to have two links on the bottom!
</p>
