<% provide(:title, "Edit comment") %> 
<h1>Edit comment</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for [@post, @comment] do |f| %>
  
      <%= f.label :body %>
      <%= f.text_area :body %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
