<%= div_for link do %>
  <% if link.image.url != '/images/original/missing.png'%>
  	<li><%=h link_to image_tag(link.image.url(:med), :alt => link.text, :class => 'link_image'), link.url %>
  <% else %>
    <li ><%= link_to link.text, link.url %>

  <% end %>  
  <% if signed_in? %>
      <% if current_user?link.user || current_user.admin %>
          <%= link_to "delete", user_link_path(@user.id, link.id), method: :delete,
                  :remote => true,
                  data: { confirm: "you sure?" } %>
      <% end %>  
  <% end %></li>

<% end %>  