<%= div_for link do %>
                <li ><%= link_to link.text, link.url %></li>
                <% if signed_in? %>

                  <% if current_user?link.user || current_user.admin %>
                    <%= link_to "delete", user_link_path(@user.id, link.id), method: :delete,
                                          :remote => true,
                                          data: { confirm: "you sure?" } %>
                  <% end %>  
                <% end %>
<% end %>  